<template>
  <div class="uploader-body">
    <div v-if="!uploadedImg">
      <input type="file" class="image-upload" aria-label="Image uploader" @change="onChange">
      <div class="dir-container">
        <input type="text" class="file-dir" placeholder="Outlet" v-model="outlet">
        <input type="text" class="file-dir" placeholder="Album" v-model="album">
        <input type="text" class="file-dir" placeholder="Name" v-model="name">
        <button @click="uploadImg">Upload</button>
      </div>
    </div>
    <div v-if="uploadedImg">
      <div class="text">Successfully uploaded</div>
      <div class="next-btn" @click="nextBtn"><button>Upload next »</button></div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: [ 'endpoint' ],
  data () {
    return {
      outlet: '',
      album: '',
      name: '',
      image: '',
      approveFiles: ['data:image/jpeg','data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet','data:application/pdf'],
      approve: false,
      uploadedImg: false
    }
  },
  methods: {
    uploadImg () {
      let queryParam = `?outlet=${this.outlet}`
      queryParam = this.album ? `${queryParam}&album=${this.album}` : queryParam
      queryParam = this.name ? `${queryParam}&name=${this.name}` : queryParam

      if (this.image === '') return alert('Image needed');
      let img = this.image
      let _this = this

      axios.get(`${this.endpoint}${queryParam}`)
      .then (function (response) {
        console.log(response.data.uploadUrl);

        let binary = atob(img.split(',')[1])
        let array = []
        for (var i = 0; i < binary.length; i++) {
          array.push(binary.charCodeAt(i))
        }
        let blobData = new Blob([new Uint8Array(array)], {type: 'image/jpg'})
        fetch(response.data.uploadUrl, {
          method: 'PUT',
          body: blobData
        }).then (function () {
          _this.uploadedImg = true
        })
      })
    },
    onChange (e) {
      let files = e.target.files || e.dataTransfer.files
      if (!files.length) return
      this.checkImage(files[0])
    },
    checkImage (file) {
      let reader = new FileReader()
      reader.onload = (e) => {
        this.approveFiles.forEach(type => {
          if (!e.target.result.includes(type)) {
            this.approve = true
          }
        });
        if(!this.approve){
          return alert('Төрөл таарахгүй')
        }
        this.image = e.target.result
      }
      reader.readAsDataURL(file)
    },
    nextBtn () {
      this.uploadedImg = false
      this.outlet = ''
      this.album = ''
      this.name = ''
      this.image = ''
      this.approve = false
    }
  }
}
</script>

<style scoped>
  * {
    box-sizing: border-box;
  }
  .uploader-body {
    position: relative;
    box-shadow: 0 0 10px #e0e0e0;
    max-width: 500px;
    min-width: 100px;
    padding: 25px;
  }
  .image-upload {
    background-color: #f0f0f0;
    width: 100%;
    border-radius: 5px;
  }
  .image-upload::-webkit-file-upload-button {
    border: none;
    padding: 10px 20px;
    background-color: #505050;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
  }
  .file-dir {
    width: 100%;
    border: none;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 5px;
    outline: none;
  }

  .uploader-body .dir-container {
    display: flex;
    border-top: 1px solid #eeeeee;
    padding-top: 10px;
    margin-top: 10px;
  }
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #505050;
    color: #ffffff;
    cursor: pointer;
  }
  .text {
    font-size: x-large;
    color: #505050;
    text-align: center;
  }
  .next-btn {
    display: flex;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #eeeeee;
    justify-content: flex-end;
  }
</style>